* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  line-height: 1;
}

h2 {
  color: #fff;
  font-family: Helvetica,sans-serif;
  font-size: 20px;
  margin-bottom: 2em;
  margin-left: 10px;
}

.app {
  background-color: black;
  color: #ffffff;
  padding-bottom: 100px;
}

.app__header {
  padding-top: 25px;
}

.app__header h1 {
  color: #fff;
  display: flex;
  font-family: Helvetica,sans-serif;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 2em;
  text-align: center;
}

.app__header p {
  color: #fff;
  display: flex;
  font-family: Helvetica,sans-serif;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 2em;
  text-align: center;
}

.app__container {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 480px)  {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media only screen and (max-width: 767px)  {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.app__content {
  display: flex;
  gap: 25px;
  .albums {
    flex: 75%;
  }
  .playlists {
    flex: 25%;
  }
  @media only screen and (max-width: 1200px)  {
    flex-direction: column-reverse;
  }
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  list-style: none;
  padding-left: 0;
  @media only screen and (max-width: 1024px)  {
    grid-template-columns: repeat(2, 1fr);
  }
}

.albums-grid {@media only screen and (max-width: 666px)  {
  grid-template-columns: repeat(1, 1fr);
}}

.album {
  margin: 10px;
}


.album__cover-container {
  position: relative;
  &:hover {
    .album-overlay {
      background-color: rgba(0, 0, 0, .6);
    }
    .album__icons-container {
      display: flex;
    }
  }
}

.album__icons-container {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  transition: all 0.4s ease-in-out;
  justify-content: center;
  .icon-button {
    width: 35px;
    border: none;
    background-color: transparent;
    &:hover {
      transform: scale(1.3);
    }
  }

}

.play-icon {
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
    &:hover {
      opacity: 1;
    }
}

.album-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}

.album__cover-container img {
  width: 100%;
  height: auto;
}

.album__title {
  font-size: 14px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.album__title a {
  color: #ffffff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.album__artists {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.album__artist {
  font-size: 14px;
  color: #a0a0a0;
  display: inline;
}

.album__artist a {
  color: #a0a0a0;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.playlists-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playlist {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: flex-start;
}

.playlist__image-container img {
  width: 50px;
  
}

.playlist__name a{
  font-size: 14px;
  color: #ffffff;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.playlist__description {
  font-size: 14px;
  color: #a0a0a0;
}